@use "./_variables" as *;

html, body {
 cursor: none;
}

.custom-cursor {
 position: fixed;
 top: 0;
 left: 0;
 width: 30px;
 height: 30px;
 border-radius: 50%;
 background-color: black;
 pointer-events: none; 
 transform: translate(-50%, -50%);
 transition: width 0.2s, height 0.2s, background-color 0.2s;
 mix-blend-mode: difference;
 z-index: 9999;
}


.custom-cursor, .custom-cursor-enlarge {
 width: 60px;
 height: 60px;
 background-color: white;
}