.landing-page {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;  // Behind the content
  display: flex;
  justify-content: center;
  align-items: center;
}

#mask img {
  width: 10%;  // Make sure the image covers the screen initially
  height: 10%;
  object-fit: cover;
}

.content {
  z-index: 2;  // Above the mask
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.text-left, .text-right {
  width: 100%;
}

h1, p {
  color: white;
}

.spacer {
  height: 100vh;
}

.BaseButton {
  margin-top: 20px;
}
