/* _landingpage.scss */
.landing-page {
  position: relative; /* Changed from absolute to relative */
  top: 0; /* Ensures it starts at the top */
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

.content {
  text-align: center;
  position: relative;
  z-index: 1;
}

.text-left,
.text-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.text-left {
  left: -100%;
}

.text-right {
  right: -100%;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}

.scroll-btn {
  margin-top: 2rem;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #42a6e0;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.scroll-btn:hover {
  background-color: #3188c0;
}
