@use "./_variables" as *;

.projects {
  position: relative;
  overflow-x: hidden;
  padding:0;
  background-color: $black;

  .project-cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 1rem 2rem;

    
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
