@use "./_variables" as *;

.team-member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  //  background:url('../assets/card-shape.svg');
  border: 1px solid $muted-color;
  border-radius: 4px;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  margin: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    //  background:url('../assets/card-shape-hover.svg');
    border: 1px solid $accent-color;
    border-radius: 4px;

  }

  &__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  &__info {
    text-align: center;
  }

  &__name {
    font-size: $font-size-m;
    font-weight: $font-weight-bold;
    color: $text-color;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  &__role {
    font-size: 1.2rem;
    color: $muted-color;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  &__socials {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;

    a {
      text-decoration: none;
      color: #0073e6;
      font-size: 1.2rem;
      transition: color 0.3s ease;

      &:hover {
        color: #005bb5;
      }
    }
  }
}

@media (max-width: 768px) {
  .team-member-card {
    width: 90%;
    max-width: 250px;
  }
}
