@use "./_variables" as *;

.team-member-card {
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: $primary-color;
 border: 1px solid $muted-color;
 padding: 20px;
 width: 100%;
 max-width: 300px;
 margin: 15px;
 transition: transform 0.3s ease, box-shadow 0.3s ease;

 &:hover {
   transform: translateY(-5px);
   box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
   border: 1.5px solid $accent-color;
 }

 &__image {
   width: 200px;
   height: 200px;
   object-fit: cover;
  border-radius: 50%;
   margin-bottom: 20px;
 }

 &__info {
   text-align: center;
 }

 &__name {
   font-size: $font-size-m;
   font-weight: $font-weight-bold;
   color: $text-color;
   margin-bottom: 10px;
 }

 &__role {
   font-size: 1.2rem;
   color: $muted-color;
   margin-bottom: 15px;
 }

 &__socials {
   display: flex;
   justify-content: center;
   gap: 10px;

   a {
     text-decoration: none;
     color: #0073e6;
     font-size: 1.2rem;
     transition: color 0.3s ease;

     &:hover {
       color: #005bb5;
     }
   }
 }
}

@media (max-width: 768px) {
 .team-member-card {
   width: 90%;
   max-width: 250px;
 }
}
