@use "./_variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Body Styling
body {
  font-family: $primary-font;
  font-size: $font-size-base;
  color: $text-color;
  background-color: $background-color;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// Section Styling
section {
  width: 100%;
  min-height: 95vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;

  // &:not(#home) {
  //   background-color: $black;
  // }
}
//chage to that again when done with the gsap animations
section#projects,
#team,
#contact {
  background-color: black;
}

h1 {
  font-family: $primary-font;
  font-size: $font-size-XXL;
  font-weight:$font-weight-extra-bold;
  color: $white;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-xxs;
  line-height:$line-height-tight;
  transform: scale(1, 1.8);
  margin-top: 20px;
}

h3 {
  font-size: $font-size-headings;
  font-weight:$font-weight-bold;
  color: $white;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-xs;
  line-height:$line-height-loose;
}

h2 {
  font-size: $font-size-headings;
  color: $accent-color;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-xs;
}
p {
  font-size: $font-size-base;
  color: $text-color;
  line-height: $line-height-relaxed;
  letter-spacing: $letter-spacing-md;
}

// .landing-page{
//   background-color: aqua;
// }

